body{
    margin:0px;
    padding:0px;
    text-align: center;
}
.process{
    height:200px;
    width:100%;
    display:grid;
    grid-gap:10px;
    grid-template-columns: 2fr 2fr 2fr;
}

.process div {
    height:100%;
    width:100%;
    border-radius:20px;
}
.queue{
    background-color:pink;
}
.free{
background-color:green;
}
.busy{
    background-color: red;
}

#but1{
    margin-top:100px;
    text-align: center;
    border-radius:10%;
}


